* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* ---------- Шрифты ----------*/
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* -------------------------- */
:root {
  --top-buttons-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-color: #212121;
  --sub-color: #757575;
  --main-color2: #fff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
.container {
  width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}
img {
  display: block;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.header-logo {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-logo span {
  color: var(--accent-color);
}
.header-box {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background: var(--main-color2);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.header .nav {
  margin-left: 93px;
}
.nav .nav-ul {
  display: flex;
  gap: 50px;
}
.nav .nav-ul .header-navigation-li a {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: ease 0.35s;
}
.nav .nav-ul .header-navigation-li a:hover {
  color: var(--accent-color);
}
.r-nav {
  margin-left: 344px;
  display: flex;
  gap: 50px;
}
.r-nav .rnav-li a {
  color: var(--sub-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: ease 0.35s;
}
.r-nav .rnav-li a:hover {
  color: var(--accent-color);
}
.hero{
    padding-block: 94px;
}
.buttons{
    margin-bottom: 50px;
    text-align: center;
}
.buttons .hero-button{
  border-radius: 4px;
  background-color: var(--top-buttons-background-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border: none;
  transition: 0.35s;
  cursor: pointer;
  padding: 6px 22px;
}
.buttons .hero-button:hover {
  background: var(--accent-color);
  color: var(--main-color2);
  padding: 6px 25px;
}

.imgs-main-content-ul{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.imgs-main-content-ul .li-content{
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
}

.content-img{
  width: 100%;
}
.imgs-main-content-ul .li-content .content-h2{
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
}
.imgs-main-content-ul .li-content .content-p {
    width: 322px;
  margin-top: 4px;
  color: var(--sub-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
.card-text {
  /* padding-left: 24px; */
  /* когда стоит только паддинг слева, то все работает , а когда слева и справа то не */
  padding-inline: 24px;
  padding-block: 20px;
}

footer {
  padding-block: 60px;
  background: var(--footer-background-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-color2);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-logo span {
  color: var(--accent-color);
}
footer address ul li .footer-address-google-maps {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--main-color2);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
footer address .footer-contacts {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--footer-contacts-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-contacts-bottom {
  display: inline-block;
  color: var(--footer-contacts-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
