*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin: 0;
}
        /* ---------- Шрифты ----------*/
            /* font-family: "Raleway", sans-serif; */
            /* font-family: "Roboto", sans-serif; */
                        /* -------------------------- */
:root{
    --top-buttons-background-color:#F5F4FA;
    --accent-color:#2196F3;
    --main-color:#212121;
    --sub-color:#757575;
    --main-color2:#FFF;
    --footer-background-color:#2F303A;
    --footer-contacts-color:rgba(255, 255, 255, 0.60);
                        
                        }
.container{
    width: 1200px;
    padding-inline: 15px;
    margin-inline: auto;
}
img{
    display: block;
}
address{
    font-style: normal;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif; 
}
.header-logo{
    color:var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-logo span{
    color: var(--accent-color);
}
.header-box{
    display: flex;
    align-items: center;
}
header{
    height: 80px;
    width: 100%;
    background: var(--main-color2);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
nav{
    margin-left: 93px;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav .nav-ul li a{
    color: var(--main-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition:ease .35s;
}   nav .nav-ul li a:hover{
    color: var(--accent-color);
}
.r-nav{
    margin-left: 344px;
    display: flex;
    gap: 50px;
}
.r-nav li a{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition:ease .35s;
}
.r-nav li a:hover{
    color: var(--accent-color);
}
address{
    font-style: normal;
}
body{
    font-family: "Roboto", sans-serif; 
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif; 
}
.header-logo{
    color:var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-logo span{
    color: var(--accent-color);
}
nav .nav-ul li a{
    color: var(--main-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition:ease .35s;
}   nav .nav-ul li a:hover{
    color: var(--accent-color);
}
.r-nav li a{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition:ease .35s;
}
.r-nav li a:hover{
    color: var(--accent-color);
}
.hero-buttons{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 94px;
}
.hero-buttons button{
    border-radius: 4px;
    background-color: var(--top-buttons-background-color);
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: none;
    transition:.35s;
    cursor: pointer;
    padding: 6px 22px;
}
.hero-buttons button:hover{
    background: var(--accent-color);
    color: var(--main-color2);
    padding: 6px 25px;
}

.main-content ul{
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
}
.main-content ul li{
    width: 370px;
    border: 1px solid #EEE;
}

.main-content ul li img{
    width: 100%;
}
.main-content ul li h2{
    margin-left: 24px;
    padding-top: 20px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.main-content ul li p{
    margin-top: 4px;
    padding-bottom: 20px;
    margin-left: 24px;
    color: var(--sub-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.48px;
}


footer{
    margin-top: 94px;
    padding-block: 60px;
    width: 100%;
    background: var(--footer-background-color);
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    color:var(--main-color2);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-logo span{
    color: var(--accent-color);
}
footer address ul li .footer-address-google-maps{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
footer address .footer-contacts{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}
.footer-contacts-bottom{
    display: inline-block;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}