*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* ---------- Шрифты ----------*/
            /* font-family: "Raleway", sans-serif; */
            /* font-family: "Roboto", sans-serif; */
                        /* -------------------------- */
:root{
    --top-buttons-background-color:#F5F4FA;
    --accent-color:#2196F3;
    --main-color:#212121;
    --sub-color:#757575;
    --main-color2:#FFF;
    --footer-background-color:#2F303A;
    --footer-contacts-color:rgba(255, 255, 255, 0.60);

}