*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin: 0;
}
        /* ---------- Шрифты ----------*/
            /* font-family: "Raleway", sans-serif; */
            /* font-family: "Roboto", sans-serif; */
                        /* -------------------------- */
:root{
    --accent-color:#2196F3;
    --main-color:#212121;
    --sub-color:#757575;
    --main-color2:#FFF;
    --footer-background-color:#2F303A;
    --team-background-color:#F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.60);
}
.container{
    width: 1200px;
    padding-inline: 15px;
    margin-inline: auto;
}
img{
    display: block;
}
address{
    font-style: normal;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif; 
}
.header-logo{
    color:var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-logo span{
    color: var(--accent-color);
}
.header-box{
    display: flex;
    align-items: center;
}
header{
    height: 80px;
    width: 100%;
    background: var(--main-color2);
    display: flex;
    align-items: center;
}
nav{
    margin-left: 93px;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav .nav-ul li a{
    color: var(--main-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition:ease .35s;
}   nav .nav-ul li a:hover{
    color: var(--accent-color);
}
.r-nav{
    margin-left: 344px;
    display: flex;
    gap: 50px;
}
.r-nav li a{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition:ease .35s;
}
.r-nav li a:hover{
    color: var(--accent-color);
}
.hero{
    /* min-height: 600px; */
    padding-block: 200px;
    text-align: center;
    width: 100%;
    background-color: var(--footer-background-color);
}
.hero h1{
    width: 696px;
    margin-inline: auto;
    margin-bottom: 30px;
    color: var(--main-color2);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero button{
    color: var(--main-color2);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}
.advantages-section{
    padding-top: 94px;
    /* min-height: 780px; */
    background: var(--main-color2);
}
.advantages-section .our-advantages li h2{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-section .our-advantages li p{
    margin-top: 10px;
    width: 270px;
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.our-advantages{
    display: flex;
    gap: 30px;
}
.advantages-imgs{
    display: flex;
    gap: 30px;
}
.advantages-div{
    padding-top:94px;
    padding-bottom: 94px;
}
.advantages-div h3{
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.webstudio-team{
    padding-block: 94px;
    background: var(--team-background-color);
    /* min-height: 650px; */
}
.webstudio-team ul{
    display: flex;
    gap: 30px;
}
.webstudio-team ul li{
    background: white;
    align-items: center;
    text-align: center;
    justify-content: center
}
.webstudio-team ul li img{
 max-width: 270px;
 max-height: 260px;
}
.webstudio-team h2{
    margin-bottom: 50px;
    text-align: center;
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.webstudio-team h3{
    padding-top: 30px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.48px;
}
.webstudio-team p{
    padding-bottom: 30px;
    margin-top: 10px;
    color: var(--sub-color);
font-size: 16px;
font-weight: 400;
line-height: 1.1875;
letter-spacing: 0.48px;
}

footer{
    padding-block: 60px;
    width: 100%;
    background: var(--footer-background-color);
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    color:var(--main-color2);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-logo span{
    color: var(--accent-color);
}
footer address ul li .footer-address-google-maps{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
footer address .footer-contacts{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}
.footer-contacts-bottom{
    display: inline-block;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}