*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /* ---------- Шрифты ----------*/
            /* font-family: "Raleway", sans-serif; */
            /* font-family: "Roboto", sans-serif; */
                        /* -------------------------- */
:root{
    --accent-color:#2196F3;
    --main-color:#212121;
    --sub-color:#757575;
    --main-color2:#FFF;
    --footer-background-color:#2F303A;
    --team-background-color:#F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.60);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif; 
}
.header-logo{
    color:var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-logo span{
    color: var(--accent-color);
}
nav .nav-ul li a{
    color: var(--main-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition:ease .35s;
}   nav .nav-ul li a:hover{
    color: var(--accent-color);
}
.r-nav li a{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition:ease .35s;
}
.r-nav li a:hover{
    color: var(--accent-color);
}
.hero{
    background-color: var(--footer-background-color);
}
.hero h1{
    color: var(--main-color2);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero button{
    color: var(--main-color2);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background: var(--accent-color);
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;
    cursor: pointer;
}
.advantages-section .our-advantages li h2{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-section .our-advantages li p{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.advantages-div h3{
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.webstudio-team h2{
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.webstudio-team h3{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.48px;
}
.webstudio-team p{
    color: var(--sub-color);
font-size: 16px;
font-weight: 400;
line-height: 1.1875;
letter-spacing: 0.48px;
}
footer{
    background: var(--footer-background-color);
}
.footer-logo{
    color:var(--main-color2);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-logo span{
    color: var(--accent-color);
}
footer address ul li .footer-address-google-maps{
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
footer address .footer-contacts{
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}